@charset "utf-8";
@import './theme/layout.css';

* {
  /* outline: 1px solid green; */
}

.hd-r {
  border-bottom: 2px solid var(--color-grey1);
}

.container {
  background-color: var(--color-background);
  padding: 30px;
}

p {
  margin: 0;
}

/* 메인 컨텐츠 */
.main-list {
  grid-area: main-list;
  width: 100%;
}

.main-list div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-list .list .main {
  /* height: 50px; */
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px 0;
}

/* 동물태그선택 */
.sort {
  grid-area: sort;
  width: 100%;
  height: 80px;
}

.sort .search .left .tag {
  margin-left: 10px;
}

.sort .left .tag {
  margin-right: 1.2rem;
}

.sort .left .tag input[type='checkbox'] {
  font-size: 0.8rem;
}

@media screen and (width <=800px) {
  .sort .left .tag {
    margin-right: 0.5rem;
  }
}

.sort .search {
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.sort .left {
  width: auto;
  border-radius: 4px;
  outline: 3px solid #f29a2e;
  display: flex;
  height: 50px;
}
.sort .search .left .selectBox select:nth-of-type(1) {
  margin-right: 30px;
}

.sort div {
  /* display: flex; */
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  /* margin-left: 10px; */
}
.sort .search {
  display: flex;
}
.sort .search .input input {
  height: 20px;
  /* width: 70%; */
  font-size: 15px;
  border-radius: 4px;
  border: 2px solid var(--color-main-point);
  background-color: var(--color-background2);
}
.sort .search .input {
  display: flex;
  /* margin-right: 50px; */
}
.sort .search .input button {
  margin-left: 10px;
  width: 4rem;
  padding: 3px;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.sort .search .left .selectBox {
  margin-right: 20px;
}

/* select option */

.sort .search .left .selectBox {
  position: relative;
  font-size: 0.9rem;
}

.sort .search .left .selectBox .select {
  width: inherit;
  /* display: none; */
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
  /* opacity: 0; */
  appearance: none; /* 기록 */
}

.sort .search .left .selectBox .select option {
  background: #ffd65f;
  color: #fff;
  padding: 3px 0;
  font-size: 16px;
}
.sort .search .left .selectBox .icoArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: inherit;
  border-left: 2px solid #ffd65f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#checkBtn {
  width: 4rem;
  border: 1px solid #ffd65f;
  border-radius: 2rem;
  background-color: #ffd65f;
  margin-left: 1.2rem;
}

.sort .search .left .selectBox .icoArrow i {
  width: 50%;
  transition: 0.3s;
}

/* .sort .search .left .selectBox .icoArrow img {
  width: 50%;
  transition: 0.3s;
} */

.sort .search .left .selectBox .select:focus + .icoArrow img {
  transform: rotate(180deg);
}

/* 게시글 제목 */
.main-title {
  grid-area: main-title;
  width: 100%;
}
.main-title .main-title__name {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0px 10px;
}
.main-title .main-title__name .name {
  font-size: 25px;
  font-weight: bold;
}
/* .main-title .main-title__name .view {
  display: flex;
  font-size: 15px;
}
.main-title .main-title__name .view .count {
  margin-inline: 10px;
} */

/* 게시글 작성자 닉네임,시간 */
.main-nick {
  grid-area: main-nick;
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}
.main-nick .nick__info {
  display: flex;
  height: 100%;
  align-items: center;
}
.main-nick .nick__info .nick__date {
  display: flex;
  width: 40%;
}
.main-nick .nick__info .nick__date div {
  margin-right: 10px;
}

/* 게시글내용 */
.content {
  grid-area: content;
  width: 100%;
  height: auto;
  outline: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
}
.content .content__view {
  padding: 10px;
}

/* 목록,등록,취소 버튼 */
.btn {
  grid-area: btn;
  width: 100%;
  margin-bottom: 30px;
}
.btn .btn__che {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.btn .btn__che .btn__btn {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 100%;
}
.btn .btn__che .btn__btn-list .list button {
  font-weight: bold;
  width: 50px;
  height: 25px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #ffd65f;
  border: 2px solid #f26d3d;
}
.btn .btn__che .btn__btn .cancel button {
  font-weight: bold;
  width: 50px;
  height: 25px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  background-color: #ffd65f;
  border: 2px solid #f26d3d;
  margin-right: 10px;
}
.btn .btn__che .btn__btn .add button {
  font-weight: bold;
  width: 50px;
  height: 25px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  background-color: #ffd65f;
  border: 2px solid #f26d3d;
}
